<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is the profile page</title>
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/styles_profile_page.css}">
    <link rel="stylesheet" th:href="@{/css/map.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home_page/{id}(id = ${userId})}">TinderZoo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/myprofile/{id}(id = ${userId})}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/settings/{id}(id = ${userId})}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container text-center">
    <div>
        <h1 style="margin-bottom: 60px;">Distance preference</h1>
        <h2>Choose a method for specifying your location:</h2>
    </div>
    <div>
        <form th:action="@{/distancePreference}" method="post" id="form1">
            <fieldset>
                <div class="m-3">
                    <div class="form-group-row">
                        <label style="margin-bottom: 20px;" for="InputLocation" class="col-form-label col-4">Type your address:</label>
                        <div class="col-8">
                            <input type="hidden" th:value="${userId}" name="userId"/>
                            <input type="hidden" name="location" id="locationInput"/>
                            <input type="text"  name="address" class="form-control" id="InputLocation" placeholder="Ex: str.Closca, nr.4, Timisoara, Timis, Romania" minlength="2" maxlength="50">
                            <input type="number" name="preferedDistance" id="InputPreferedDistance" placeholder="10 km" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <h3>Use map for picking your location:</h3>
    <p> Click on 'Pan to current location' and let us locate you.
        If location is not accurate, mark the location yourself.</p>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDga_7-7HVr7Yk0j5E7Mtl2xwEBYgoeOGs&callback=initMap&libraries=&v=weekly"
            async
    ></script>

    <div style="padding-bottom: 60px;">
        <h1>Select your location and submit!</h1>
        <button type="submit" form="form1" style="margin-top: 30px; " class="btn btn-primary">Submit</button>
    </div>

</div>

<script th:inline="javascript">
        /*<![CDATA[*/



        /*]]>*/
</script>
<script src="../js/maps.js"></script>

</body>
</html>