<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>firstName</th>
            <th>lastName</th>
            <th>Email</th>

        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}">1</td>
            <td th:text="${user.lastName}">Name</td>
            <td th:text="${user.email}">Email</td>
        </tr>
    </table>
</div>
</body>
</html>